:root {
  font-size: 18px;
  --bg: #fdf8f2;
  --text: #2a2a2a;
  --accent: #aea193;
  --accent-hover: #958773;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: var(--font-space-grotesk), sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;  /* bigger base text */
}
